@{
    Layout = "_SimpleLayout";
}
<table class="table table-striped table-bordered">
    <thead>
        <tr class="bg-primary text-white text-center">
            <th colspan="2">Form Data</th>
        </tr>
    </thead>
    <tbody>
        @* @foreach (string key in TempData.Keys)
        {
            <tr>
                <th>@key</th>
                <td>@TempData[key]</td>
            </tr>
        } *@

        <tr>
            <th>name param</th>
            <td>@TempData["name param"]</td>
        </tr>


    </tbody>
</table>
<a class="btn btn-primary" asp-action="Index">Return</a>